
@{
    ViewBag.Title = "Error";
}

<h2>An Error occured while processing your request. Please try again later</h2>
<div>
    <text>Click To go back to login screen</text>
    <a href="Index.cshtml"></a>
</div>

