**/packages/*
packages/
!packages/build/
!**/packages/build/
bin
obj
build
[Oo]bj
[Bb]in
[Dd]ebug
[Bb]uild/
/EcommerceMvc/obj/*
/EcommerceMvc/obj
/EcommerceMvc/obj/Debug
/EcommerceMvc/obj
/EcommerceMvc/ToDelete
.vs/
/EcommerceMvc.sln.DotSettings
/EcommerceMvc.sln.DotSettings.user
_ReSharper.*
*.csproj.user
