@using EcommerceMvc.Controllers
@using EcommerceMvc.Registrations.ImplementationClasses
@{
    ViewBag.Title = "Home Page";
}

@{
        SecurityPrinciple securityPrinciple =  HttpContext.Current.User as SecurityPrinciple;
}

<div class="jumbotron">
    <h1>Welcome to One stop shop for all your needs</h1>
</div>

<div class="row">
    <div class="col-md-4">
    @if (securityPrinciple == null)
    {
        <h2>Get started</h2>
        <p>
            <a class="btn btn-primary" href='@Url.Action("Login", "Home")'>Login Here &raquo;</a>
            @*@Html.ActionLink("Login", "Login", "Home")*@
        </p>
    }
      @*  <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Not Registered, Do it now. It's free</h2>
        @if (securityPrinciple == null)
        {
            <p>
                <a class="btn btn-primary" href='@Url.Action("Register", "Home", new { @class = "nav-link" })'>Register Here &raquo;</a>
            </p>
        @*<p >@Html.ActionLink("Register", "Register", "Home")</p>*@
        }
    </div>
    <div class="col-md-4">  
        <h2>Lots of Products</h2>
        <p>
            <a class="btn btn-primary" href='@Url.Action("Index", "Products", new { @class = "nav-link" })'>View Products &raquo;</a>
        </p>
    </div>
</div>