@model EcommerceMvc.Models.AllProducts

@{
    ViewBag.Title = "Products Stuff";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="detailsDiv">

    @if (Model != null && Model.InventoriesModels.Any())
    {
        <h2>Products under this catergory</h2>
        
        <div class="col">
            @foreach (var product in Model.InventoriesModels)
            {
                <div class="row">
                    <div class="col-6">
                        @product.ProductName
                        <p class="font-weight-bold">ItemsLeft: @product.ItemsCount</p>
                    </div>
                    <div class="col">
                        <p class="font-weight-bold">Quantity: 1</p>
                        <button onclick="AddToCart(@product.Id, 1)" class="btn btn-primary">Add To Cart</button>
                    </div>
                </div>
                <div class="w-100"></div>
            }
       
        </div>

        <div id="cart" class="float-right">
            <input type="button" value="CheckoutOut" onclick="window.location='@Url.Action("Index", "Checkout")'" />
        </div>
    }
</div>